# macOS
.DS_Store
**/.DS_Store

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/DerivedData/

# Android / Gradle
android/.gradle/